<%= render "layouts/header" %>

<main role="main" class="inner cover">
  <h1 class="cover-heading">GitHub Search</h1>
  <p class="lead">You must login to continue to the search</p>
  <p class="lead">
    <%= link_to 'Log In', :github_auth, class: "btn btn-lg btn-secondary" %>

  </p>
</main>

<%= render "layouts/footer" %>

</div>
